﻿.opblock-summary-description {
    color: #333;
    background-color: #ffffff;
    padding: 15px; 
    border-left: 5px solid #d3d3d3; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.8; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
    text-align: left; 
}

.opblock-summary-description ul,
.opblock-summary-description ol {
    padding-left: 40px; 
    list-style-type: circle;
}

.opblock-summary-description li {
    margin-bottom: 10px;
    color: #555;
}

.opblock-summary-description a {
    color: #0056b3; 
    text-decoration: underline;
}

.opblock-summary-description a:hover,
.opblock-summary-description a:focus {
    color: #002766; 
}

@keyframes pulseBorder {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.renderedMarkdown {
    animation: pulseBorder 2s infinite;
    border-radius: 5px;
    padding: 10px;
}